name: Auto Deploy Website

on:
  push:
    branches:
      - main

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Debug DNS
        run: |
          echo "Resolving FTP Server..."
          nslookup ftp.rahmadeka.com || echo "nslookup failed"
          ping -c 1 ftp.rahmadeka.com || echo "Ping failed"

      - name: Upload to cPanel via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        env:
          NODE_OPTIONS: "--dns-result-order=ipv4first"
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          port: 21
          local-dir: dist/
          server-dir: public_html/
          dangerous-clean-slate: false
          log-level: verbose
